$desktop: 1549px;
$small-desktop: 1399px;
$tablets-big: 1249px;
$tablets: 999px;
$phones: 759px;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  padding: 0 20px;
  max-width: 1710px;
  margin: 0 auto;
}
.h1 {
  font-family: Spartan, sans-serif;
  font-size: 120px;
  font-weight: 400;
  line-height: 145%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px #00000040;
  @media (max-width: $small-desktop) {
    font-size: 70px;
  }
  @media (max-width: $tablets) {
    font-size: 40px;
  }
}
.h2 {
  font-family: 'Prosto One', sans-serif;
  font-size: 61px;
  font-weight: 400;
  line-height: 145%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px #00000040;
  @media (max-width: $small-desktop) {
    font-size: 35px;
  }
  @media (max-width: $tablets) {
    font-size: 24px;
  }
}
.text-hover {
  position: relative;
  span {
    transition: all .2s;
    &:last-child {
      font-weight: 600;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
  &:hover {
    span {
      &:first-child {
        opacity: 0;
        visibility: hidden;
      }
      &:last-child {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
body {
  background: #F4F4F4;
  &.scroll {
    overflow: hidden;
  }
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 214%;
  @media (max-width: $tablets-big) {
    font-size: 12px;
  }
}
.btn {
  position: relative;
  height: 38px;
  transition: all .4s;
  display: flex;
  span {
    &:first-child {
      font-size: 18px;
      font-weight: 400;
      line-height: 38.14px;
      position: absolute;
      bottom: 36px;
      left: 0;
      color: #000;
      transition: all .2s;
      @media (max-width: $tablets) {
        bottom: 39px;
      }
    }
  }
  &__svg {
    position: relative;
    width: 233px;
    height: 8px;
    overflow: hidden;
  }
  svg {
    margin-top: auto;
    margin-bottom: -4px;
    position: absolute;
    left: 0;
    transition: all 1s;
    top: 0;
    &:last-child {
      left: -466px;
      transition-delay: .2s;
    }
  }
  &:hover {
    svg {
      &:first-child {
        transform: translateX(100%);
      }
      &:last-child {
        transform: translateX(200%);
      }
    }
  }
}
.fade-in {
  transition: opacity 1s cubic-bezier(0.5, 0, 0.15, 1), visibility 1s cubic-bezier(0.5, 0, 0.15, 1), transform 1s cubic-bezier(0.5, 0, 0.15, 1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}
.fade-out {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@keyframes arrowJump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
