.info {
  padding-bottom: 212px;
  position: relative;
  overflow: hidden;
  background: #F4F4F4;
  @media (max-width: $desktop) {
    padding-bottom: 150px;
  }
  @media (max-width: $tablets-big) {
    padding-bottom: 70px;
  }
  @media (max-width: $tablets) {
    padding-top: 202px;
  }
  p {
    @media (max-width: $tablets) {
      line-height: 192%;
    }
    strong {
      font-size: 18px;
      line-height: 38px;
      font-weight: 400;
      @media (max-width: $tablets) {
        font-size: 12px;
        line-height: 22.91px;
      }
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    &-cont {
      overflow: hidden;
      position: relative;
      .info__stroke {
        color: #A31616;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      transition: all .4s;
      &:last-child {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
      }
    }
    &:hover {
      img {
        &:last-child {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &.fade-in {
      transform: translateY(50%);
      @media (max-width: $tablets) {
        transform: translateY(50px);
      }
    }
    &.fade-out {
      transform: translateY(0);
    }
  }
  &__top {
    display: grid;
    grid-template-columns: 830fr 690fr;
    grid-gap: 150px;
    @media (max-width: $desktop) {
      grid-gap: 50px;
    }
    @media (max-width: $tablets) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media (max-width: $tablets) {
      grid-gap: 34px;
    }
    &-text {
      padding-bottom: 79px;
      position: relative;
      padding-top: 47px;
      @media (max-width: $tablets) {
        padding-top: 0;
        padding-bottom: 50px;
      }
      @media (max-width: $tablets) {
        position: static;
        margin-left: -2px;
      }
      &:after {
        content: '';
        position: absolute;
        width: 524px;
        height: 1px;
        background: #000;
        bottom: 0;
        right: -290px;
        @media (max-width: $tablets) {
          display: none;
        }
      }
      .h2 {
        text-shadow: none;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 72px;
        @media (max-width: $tablets) {
          margin-bottom: 20px;
        }
        @media (max-width: $tablets) {
          position: absolute;
          left: 22px;
          top: 94px;
        }
      }
    }
    &-p {
      display: flex;
      svg {
        height: 232px;
        width: 8px;
        min-width: 8px;
        margin: auto 136px 10px -4px;
        animation: arrowJump 1.2s infinite;
        @media (max-width: $desktop) {
          margin-right: 50px;
        }
        @media (max-width: $tablets) {
          display: none;
        }
      }
    }
    .info {
      &__img {
        &-cont {
          @media (max-width: $tablets) {
            height: 500px;
          }
          @media (max-width: $tablets) {
            height: 210px;
          }
        }
      }
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: 830fr 690fr;
    grid-gap: 150px;
    padding-top: 78px;
    position: relative;
    @media (max-width: $desktop) {
      grid-gap: 50px;
    }
    @media (max-width: $tablets) {
      grid-template-columns: 1fr;
      padding-top: 30px;
    }
    @media (max-width: $tablets) {
      padding-top: 72px;
      grid-gap: 38px;
    }
    .info__stroke {
      font-size: 34px;
      line-height: 49.78px;
      @media (max-width: $tablets) {
        font-size: 18px;
        line-height: 26.35px;
      }
    }
    & > .info__stroke {
      top: 78px;
      @media (max-width: $tablets) {
        top: 53px;
      }
      @media (max-width: $tablets) {
        top: 95px;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      margin-bottom: -24px;
      margin-right: 23px;
      padding-top: 105px;
      @media (max-width: $tablets) {
        padding-top: 0;
        display: flex;
        align-items: flex-start;
      }
      @media (max-width: $tablets) {
        margin-right: 0;
      }
      p {
        @media (max-width: $tablets) {
          line-height: 190%;
        }
        strong {
          @media (max-width: $tablets) {
            font-size: 18px;
            line-height: 38.14px;
            display: block;
            margin-bottom: -28px;
          }
        }
      }
    }
    .btn {
      margin: 86px 14px 0 auto;
      @media (max-width: $tablets) {
        margin-left: 0;
        margin-top: 20px;
      }
      @media (max-width: $tablets) {
        margin: 86px -3px 0 auto;
      }
    }
    .info {
      &__img-cont {
        @media (max-width: $tablets) {
          height: 450px;
        }
        @media (max-width: $tablets) {
          height: 180px;
        }
        .info__stroke {
          top: 0;
          @media (max-width: $tablets) {
            top: 23px;
          }
        }
      }

    }
  }
  &__stroke {
    position: absolute;
    top: 225px;
    left: 0;
    font-family: 'Prosto One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 58.56px;
    z-index: 10;
    color: #fff;
    white-space: nowrap;
    display: flex;
    @media (max-width: $small-desktop) {
      top: 160px;
    }
    @media (max-width: $tablets) {
      top: 13px;
    }
    @media (max-width: $tablets) {
      font-size: 18px;
      line-height: 26.35px;
    }
    &-cont {
      width: 100vw;
      position: absolute;
      top: 0;
      height: 100%;
      right: -105px;
    }
    span {
      animation: scroll 20s linear infinite;
      display: block;
    }
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}